API_URL=http://localhost:3101
NEXT_PUBLIC_API_URL=http://localhost:3101
NEXT_PUBLIC_FIREBASE_API_KEY=demo-diccionario
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=localhost
NEXT_PUBLIC_FIREBASE_PROJECT_ID=diccionario-multidisciplina
NEXT_PUBLIC_FIREBASE_APP_ID=demo
NEXT_PUBLIC_FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
